Repository fauzialhari/wedding-ugha-anchu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

.lintstagedrc.json:

{
    "*.{html,json}": ["prettier --write"],
    "*.scss": [
        "prettier --write \"**/*.+(js|json|html)\" && stylelint \"src/**/*.scss\" --fix --quiet"
    ],
    "*.js": ["prettier --write", "eslint --fix"]
}

run lint and remove distServer
  dist/css/style.2.0.0.css
  dist/css/style.2.0.0.css.gz
  dist/js/bundle.2.0.0.js
  dist/js/bundle.2.0.0.js.LICENSE.txt
  dist/js/bundle.2.0.0.js.gz
  dist/js/dev.2.0.0.js
  dist/js/dev.2.0.0.js.gz
  dist/js/page-template.2.0.0.js
  dist/js/page-template.2.0.0.js.gz
  dist/js/vendors~page-template.2.0.0.js
  dist/js/vendors~page-template.2.0.0.js.gz
  dist/js/xnamespace.2.0.0.js
  dist/js/xnamespace.2.0.0.js.gz
  package.json
  src/_modules/molecules/title-marker/title-marker.scss
  src/_modules/organisms/main-banner/main-banner.scss
  src/_modules/organisms/venue/venue.scss
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

Update Title
  src/_modules/pages/index.pug
Due: none

Fix wrong date at main-banner
  dist/index.html
  dist/styleguide.html
  src/_modules/molecules/pop-up-reminder/pop-up-reminder.pug
Due: prettier --write

update font weight of h2
  dist/js/bundle.2.0.0.js
  src/style/_base/6.typography/typography.scss
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

fix some copywriting
  dist/index.html
  dist/styleguide.html
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
Due: prettier --write

refine some copywriting and some white space and dots
  dist/index.html
  dist/styleguide.html
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
Due: prettier --write

revoke column at date
  dist/index.html
  dist/styleguide.html
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
Due: prettier --write

Just add space to a sentence
  dist/index.html
  dist/styleguide.html
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
Due: prettier --write

Add H. Hj. to the main inviters
  dist/index.html
  dist/styleguide.html
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
Due: prettier --write

update fonst-size h4
  dist/js/bundle.2.0.0.js
  src/style/_base/6.typography/typography.scss
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

update h3 font-size
  dist/js/bundle.2.0.0.js
  src/style/_base/6.typography/typography.scss
  src/vendor/jquery.fullpage.js
  src/vendor/scrolloverflow.js
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

finish enhancements
  dist/index.html
  dist/js/bundle.2.0.0.js
  package.json
  src/_modules/molecules/prokes/prokes.pug
  src/_modules/molecules/prokes/prokes.scss
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
  src/_modules/organisms/seal/seal.pug
  src/_modules/organisms/seal/seal.scss
  src/_modules/pages/index.pug
  src/script/initFullPage.js
  src/style/component/fullpage.scss
  src/style/component/one-page.scss
  src/style/default/default.scss
  src/style/main.scss
  src/style/page/homepage.scss
  yarn.lock
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

Add feature to show the invited whom and where
  dist/index.html
  dist/js/bundle.2.0.0.js
  src/_modules/organisms/seal/seal.js
  src/_modules/organisms/seal/seal.pug
  src/index.js
Due: prettier --write, eslint --fix

update meta description
  dist/index.html
  src/_layouts/base.pug
Due: prettier --write

update position of text at main banner and implement some animate.css
  README.md
  dist/index.html
  dist/js/bundle.2.0.0.js
  dist/js/dev.2.0.0.js
  src/_modules/molecules/pop-up-reminder/pop-up-reminder.pug
  src/_modules/molecules/pop-up-reminder/pop-up-reminder.scss
  src/_modules/molecules/prokes/prokes.pug
  src/_modules/organisms/bride-groom/bride-groom-alt.pug
  src/_modules/organisms/closing/closing.pug
  src/_modules/organisms/event-venue/event-venue.pug
  src/_modules/organisms/main-banner/main-banner.pug
  src/_modules/organisms/main-banner/main-banner.scss
  src/_modules/organisms/seal/seal.pug
  src/script/initFullPage.js
  src/script/initRipplesEffect.js
  src/style/component/fullpage.scss
  src/style/main.scss
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

remove empty block
  src/style/component/fullpage.scss
Due: prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet

Add navigation explanation at first load invitation
  dist/img/icon/hand.svg
  dist/img/icon/scroll.svg
  dist/img/icon/up-arrow.svg
  dist/index.html
  dist/js/bundle.2.0.0.js
  dist/js/dev.2.0.0.js
  src/_modules/main.pug
  src/_modules/organisms/seal/seal.js
  src/_modules/organisms/seal/seal.pug
  src/_modules/organisms/seal/seal.scss
  src/img/icon/hand.svg
  src/img/icon/scroll.svg
  src/img/icon/up-arrow.svg
  src/index.js
  src/script/initFullPage.js
  src/style/_base/6.typography/typography.scss
Due: prettier --write, prettier --write "**/*.+(js|json|html)" && stylelint "src/**/*.scss" --fix --quiet, eslint --fix

add try catch to jquery ripples to handle not supported webGL
  dist/js/bundle.2.0.0.js
  src/script/initRipplesEffect.js
Due: prettier --write, eslint --fix
